{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" src="{% static 'css/main.css' %}"></link> -->
    <!-- <style src="{% static 'css/main.css' %}"></style> -->
</head>
<body>
    <p>Dashboard Page</p>
    <br>
    
    <table class="dash_table">
        <tr><th>First Name</th><th>Last Name</th><th>Department</th><th>Image</th></tr>
        {% for i in empdata %}
        <tr>
            <td>{{ i.first_name }}</td>
            <td>{{ i.last_name }}</td>
            <td>{{ i.department }}</td>
            <td><img src="/{{ i.image }}" height="70px" width="70px"></td>
        </tr> 
        {% endfor %}
    </table>

    <h3><a href="{% url 'home' %}">Back To Home Page</a>
    </h3>
    
</body>
</html>